versioneer>=0.28
utilz @ git+https://github.com/drusmanbashir/utilz.git@main
pyradiomics @ git+https://github.com/drusmanbashir/pyradiomics.git
networkx>=2.8
fasttransform
# scipy>=1.15.2
scipy
vtk>=9.3.1
# /home/ub/programs/pyradiomics
