fastcore
/home/ub/programs/pyradiomics
ipdb>=0.13.13
matplotlib>=3.10.1
networkx>=3.3
numpy
pandas>=2.2.3
pytest>=8.3.3
pyxnat>=1.6.2
ray>=2.36.1
scipy>=1.15.2
SimpleITK>=2.4.1
torch
vtk>=9.3.1
git+https://github.com/drusmanbashir/utilz.git@main#egg=utilz
